<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookandroid.reviewary">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2" />

    <!-- @2019 프로젝트: 팀장 오나현(onhyeon618@gmail.com); 팀원 류수빈(subin7906@gmail.com)-->
    <!-- @2020 코드 수정 진행: 오나현(onhyeon618@gmail.com) -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>
        <activity
            android:name=".NewItemActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ViewItemActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".InquiryActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.reviewary_renew"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external" />
        </provider>

    </application>

</manifest>